:root {
    --color-white: #fff;
    --colo-red: red;
    --colo-black: #181818;
    --colo-black1: #1e1e1e;
    --colo-violet: #9333ff;
    --colo-indigo: indigo;
    --background-image: url(./wallpaperbetter.com_3840x2160.jpg);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background-image) no-repeat center center fixed;
    background-size: cover; /* Adicionando esta linha para cobrir a tela */
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Removendo margens padrão do corpo */
}

.content {
    background-color: var(--colo-black);
    opacity: 0.95;
    padding: 20px;
    border-radius: 20px;
    min-width: 20%;
    overflow: auto;
    
}

/* Restante do seu código... */
